<h1 id="page_title">Cześć!</h1>

<div class="wrapper_padding skinny_wrapper">
<%= form_for @contact do |f| %>
    <%= f.label :nazwa %> <br />
    <%= f.text_field :nazwa, required: true %>

    <br/>

    <%= f.label :email %> <br />
    <%= f.text_field :email, required: true %>

    <br/>

     <%= f.label :treść %> <br />
     <%= f.text_field :message, as: :text %>

     <div class="hidden">
       <%= f.label :nickname %> <br />
      <%= f.text_field :nickname, hint: 'pozostaw to puste' %>

      </div>

      <%= f.submit 'Wyśli wiadomość', class: "button" %>

      <br/ >


    <% end %>

<br/ >
<br/ >
